<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>基于手指输入的狭窄轨道任务交互模型实验</h1>
    <form action="/add/" method="get">
    姓名: <input type="text" name="name"> <br>
    年龄: <input type="text" name="age"> <br>
    性别: <input type="text" name="sex"> <br>
    <input type="submit" value="确认"><br><br>
</form>
    <div>
        <a href="/first_experiment/">*     实验一 W:25px(2.4mm) A:300px</a><br><br>
        <a href="/second_experiment/">*    实验二 W:25px(2.4mm) A:600px</a><br><br>
        <a href="/third_experiment/">*     实验三 W:13px(1.2mm) A:300px</a><br><br>
        <a href="/fourth_experiment/">*    实验四 W:13px(1.2mm) A:600px</a><br><br>
        <a href="/fifth_experiment/">*     改进验证实验              </a><br><br>
        <a href="/sixth_experiment/">*     实验六 W:38px(3.6mm) A:600px</a><br><br>
    </div>

</body>
</html>